html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal; 
    color: white;
    background-color: black;
    text-align: center;
}

.container {
    margin: 0 auto;
}

.header h1 {
    font-size: 50px;
}

#download {
    font-size: 17px;
    color: aquamarine;
}

h2{
    font-size: 42px;
    font-weight: 300;
}

p{
    font-size: 21px;
    color: gray;
}

.bottom{
    margin: 30px 0;
}

.footer {
    text-align: right;
}