html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal; 
    color: white;
    background-color: black;
    text-align: center;
}

.container {
    margin: 0 auto;
}

.header h1 {
    font-size: 50px;
}

.header p {
    font-size: 16px;
    color: aquamarine;
}

.guide h1{
    font-size: 42px;
    font-weight: 300;
}

.guide p{
    font-size: 21px;
    color: gray;
}